/* Modal Header */
.modalHeader {
    display:flex;
    justify-content: space-around;
  }

  .modalHeader div {
    color: #03e9f4;
    overflow: hidden;
    transition: 0.5s; 
      padding: 15px;
      margin: 15px;
      vertical-align: middle;
      font-family: 'Press Start 2P', cursive;
  }


  
  /* Modal Body */
  .modalBody {
    padding: 2px 16px;
}
  
  /* Modal Footer */
  .modalFooter {
    padding: 10px 16px;
    color: #03e9f4;
    text-align:left;
    font-family: 'Press Start 2P', cursive;
  }
  .modalFooter button{
    color: black;
    border-radius: 15px;
    width: 135px;
    background: #03e9f4;
    cursor:pointer ;
    text-align: center;
    display: block;
    padding-left: 5px;
  }
  
  
  /* Modal Content */
  .loginModalContent {
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
    margin: auto;
    padding: 0;
    width: 70vw;
    height: fit-content;
  
  }

  #signUpForm {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: space-around;
    color: white;
    
   
  
}



#signInForm {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: space-around;
    color: white;
    
}
  
.styleButton:hover { 
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
                cursor:pointer ;
}

#signInDiv:hover {
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
                cursor:pointer ;
}

#signUpDiv:hover {
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
                cursor:pointer ;
}